/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



body{
    background: green;
    overflow: scroll;
    overflow-x: hidden;
    height: 1000px;
    
}

@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo.eot');
    src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo.woff') format('woff'),
        url('../fonts/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Univers';
    src:url('../fonts/UniversLTStd-LightCn.otf');
}
@font-face {
    font-family: 'Universbold';
    src:url('../fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Universlight';
    src:url('../fonts/UniversLTStd-Light.otf');
}

.header {
    position: absolute;
    background:white;
    width: 100%;
    margin-top: -70px;
    height: 150px;
     
    z-index: 1000;
}
.logo{
     position:relative;
    background: white;
    
    margin-left: 40px;
    margin-top: 20px;
 padding-bottom: 20px;
 z-index: 1200;
}
.screenframe{
     position:relative;
    margin-top: -22px;
   display: inline-block;
   background: #F37D76;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    background: white; 
    width: 300px;
    height: 400px; 
   padding-top: 60px;
 margin-left:490px;
   display: inline-block;
  

}
.middlewrapper{
    position: absolute;
    background: white;
    width: 100%;
    margin-top: -10px;
}

.middle{
     position: relative;
    background: white;
    width: 1280px;
    height: 400px;
    margin: 0 auto;

}
.text_right{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width:310px;
     display: inline-block;
    font-family: 'Univers';
     margin-left: 50px;
line-height: 26px;
 font-size: 20px;
  margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 15px;
   
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
}
.info{
font-family: 'Universbold';
 font-size: 16px;   
 line-height:5px;
   color: #1F3E63;
}

.text_left{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width: 290px;
     display: inline-block;
    font-family: 'Univers';
    margin-left: 110px;
    text-align: center;

  margin-top: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
}
/* unvisited link */
a:link {
    text-decoration: none;
}


/* unvisited link */
a:link {
color: #1F3E63;
}

/* visited link */
a:visited {
color: #1F3E63;
}

/* mouse over link */
a:hover {
color: #F37D75;
}

/* selected link */
a:active {
color: #1F3E63;
}
/*video*/


.videowrapper{
     position: absolute;  
    width: 100%;
  background: #00A79D;
    height: 400px;
    margin-top: 390px;
     
z-index: 1;
}

.videof{
     position: relative;  
     width: 1280px;
  background: #00A79D;
height: 400px;
 
 margin: 0px auto;
}



.try{
 font-family: 'Universbold';
 font-size: 28px;
 color:white;
 
 width: 500px;
 position: absolute;
  display: inline-block;
  height: 270px;
  margin-top: 120px;
   
   padding-left: 55px;
}
.sub2{
     font-size: 33px;

 border-bottom:2px solid white;    
}
.sub{
  font-family: 'Univers';
 line-height: 40px;
 font-size: 25px;
 padding-top: 30px;

}
.video {
    background: #CBF4F0;
   position: absolute;
     display: inline-block;
   margin-left:646px;
     margin-top: 40px;
}


/* cartoons*/


.titlewrapper{
background:  #CBF4F0;
width: 100%;


}
.title{

background:  #CBF4F0;
 
width: 1280px;
 margin: 0px auto;
     position: relative;    
  
}


.use{
    position: relative;
color: #1F3E63;
 background: #CBF4F0;
border-bottom:2px solid #1F3E63;  
font-family: 'Univers';
font-size: 29px;
margin-top: 780px;
height: 100px;
margin-left: 367px;
text-align: center;
padding-top: 35px;
width: 500px;
line-height: 30px;

}
.use2{

    font-family: 'Universbold';
font-size: 20px;
line-height: 20px;
}
.cartoonwrapper{
width: 100%;
    background:#CBF4F0;

}


.cartoon_gallery{
 margin: 0px auto;
     position: relative;   
    
  height: 380px;
    width: 1280px;
    background:#CBF4F0;
    padding-left: 50px;

}
.cartoonlist li {

 background: #CBF4F0;
 height: 300px;
width: 250px;

    position: relative;
 display: inline-block;
 margin-top: 10px;  
 margin-left:90px;
}

.text1{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 50px;
}
.text2{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 65px;
}
.text3{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 40px;
}

/*footer*/

.footerwrapper{
 position: absolute;
width: 100%;
    background:black;
 height: 240px;
 padding-top: 20px;
}
.footer{
     position: relative;   
    margin-top: 500px;
  height: 210px;
    width: 1280px;
    background:black;
    padding-left: 50px;
margin: 0px auto;
}



.devolp{

width: 300px;
display: inline-block;
list-style: none;
}
.devolp li{
    margin-bottom: 10px;
}
.team{
font-size: 20px;
font-family: 'Universbold';
color: white;
 margin-left: 50px;
}

.Programm{
font-size: 15px;
font-family: 'Univers';
color:#F37D75;
line-height: 15px;
 margin-left: 200px;  

}
.gold,.eran,.yor{
font-size: 15px;
font-family: 'Univers';
color: white;
line-height: 15px;
 margin-left: 200px;
padding-right: 5px;
 border-right:1px solid white;
}
.goldm,.eranm,.yorm{
  font-size: 11px;
  line-height: 13px;
font-family: 'Universlight';
color: white;
 margin-left: 200px;

}
.design{
    position: absolute;
   line-height: 15px;
   display: inline-block;
  list-style: none;
  margin-left: 70px;
  font-size: 15px;
font-family: 'Univers';

}
.design li{
    margin-bottom: 10px;
}
.designer{
font-size: 15px;
font-family: 'Univers';
color:#F37D75;
line-height: 15px;

}
.poly{
font-size: 15px;
font-family: 'Univers';
color: white;
line-height: 15px;

padding-right: 5px;
 border-right:1px solid white;




}
.polym{
  font-size: 11px;
  line-height: 13px;
font-family: 'Universlight';
color: white;
 
}
.contect{
    width: 300px;
    list-style: none;
display: inline-block;

position: absolute;
margin-left: 600px;
}
.contect li{
    margin-bottom: 7px;
}
.conecttext{
   font-size: 15px;
font-family: 'Univers';
color:#F37D75;
line-height: 15px;

}

.face,.tweet{
    margin-left: 25px;
  
}



