/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



body{
    background: green;
    overflow: scroll;
    overflow-x: hidden;
    height: 2000px;
    
}

@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo.eot');
    src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo.woff') format('woff'),
        url('../fonts/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Univers';
    src:url('../fonts/UniversLTStd-LightCn.otf');
}


.header {
    position: absolute;
    background:white;
    width: 100%;
    margin-top: -70px;
    height: 150px;

    z-index: -1;
}
.logo{
     position:relative;
    background: white;
    
    margin-left: 40px;
    margin-top: 40px;
 padding-bottom: 20px;
 
}
.screenframe{
     position:relative;
    
   display: inline-block;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    background: white; 
    width: 300px;
    height: 400px; 
   padding-top: 60px;
 margin-left:360px;
   display: inline-block;
  

}
.middlewrapper{
    position: absolute;
    background: white;
    width: 100%;
}

.middle{
     position: relative;
    background: white;
    width: 1024px;
    height: 400px;
    margin: 0 auto;

}
.text_right{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width: 290px;
     display: inline-block;
    font-family: 'Univers';
    margin-left: 10px;

  margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
    text-align: center;
}
.info{
font-family: 'Univers';
 font-size: 20px;   
 line-height: 15px;
  color: #1F3E63;
}

.text_left{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width: 290px;
     display: inline-block;
    font-family: 'Univers';
    margin-left: 64px;

  margin-top: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
    text-align: center;
}
/* unvisited link */
a:link {
    text-decoration: none;
}


/* unvisited link */
a:link {
color: #1F3E63;
}

/* visited link */
a:visited {
color: #1F3E63;
}

/* mouse over link */
a:hover {
color: #F37D75;
}

/* selected link */
a:active {
color: #1F3E63;
}

