/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



body{
    background: green;
    overflow: scroll;
    overflow-x: hidden;
    height: 1000px;
    
}

@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo.eot');
    src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo.woff') format('woff'),
        url('../fonts/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Univers';
    src:url('../fonts/UniversLTStd-LightCn.otf');
}
@font-face {
    font-family: 'Universbold';
    src:url('../fonts/UniversLTStd-BoldCn.otf');
}

.header {
    position: absolute;
    background:white;
    width: 100%;
    margin-top: -70px;
    height: 150px;

    z-index: -1;
}
.logo{
     position:relative;
    background: white;
    
    margin-left: 40px;
    margin-top: 20px;
 padding-bottom: 20px;
 
}
.screenframe{
     position:relative;
    
   display: inline-block;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    background: white; 
    width: 300px;
    height: 400px; 
   padding-top: 60px;
 margin-left:360px;
   display: inline-block;
  

}
.middlewrapper{
    position: absolute;
    background: white;
    width: 100%;
    margin-top: -10px;
}

.middle{
     position: relative;
    background: white;
    width: 1024px;
    height: 400px;
    margin: 0 auto;

}
.text_right{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width:310px;
     display: inline-block;
    font-family: 'Univers';
    margin-left: 10px;
line-height: 26px;
  margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
    text-align: center;
}
.info{
font-family: 'Universbold';
 font-size: 16px;   
 line-height:5px;
   color: #1F3E63;
}

.text_left{
   position: absolute;
    letter-spacing: 1px;
    background: white;
    color: #1F3E63;
    width: 290px;
     display: inline-block;
    font-family: 'Univers';
    margin-left: 64px;

  margin-top: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    border-top: 2px solid #1F3E63;
 border-bottom:2px solid #1F3E63; 
    text-align: center;
}
/* unvisited link */
a:link {
    text-decoration: none;
}


/* unvisited link */
a:link {
color: #1F3E63;
}

/* visited link */
a:visited {
color: #1F3E63;
}

/* mouse over link */
a:hover {
color: #F37D75;
}

/* selected link */
a:active {
color: #1F3E63;
}

.titlewrapper{
background:  #CBF4F0;
width: 100%;


}
.title{

background:  #CBF4F0;
 
width: 1280px;
 margin: 0px auto;
     position: relative;    
  
}


.use{
    position: relative;
color: #1F3E63;
 background: #CBF4F0;
border-bottom:2px solid #1F3E63;  
font-family: 'Univers';
font-size: 29px;
margin-top: 389px;
height: 100px;
margin-left: 367px;
text-align: center;
padding-top: 35px;
width: 500px;
line-height: 30px;

}
.use2{

    font-family: 'Universbold';
font-size: 20px;
line-height: 20px;
}
.cartoonwrapper{
width: 100%;
    background:#CBF4F0;

}


.cartoon_gallery{
 margin: 0px auto;
     position: relative;   
    
  height: 380px;
    width: 1280px;
    background:#CBF4F0;
    padding-left: 50px;

}
.cartoonlist li {

 background: #CBF4F0;
 height: 300px;
width: 250px;

    position: relative;
 display: inline-block;
 margin-top: 10px;  
 margin-left:90px;
}

.text1{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 50px;
}
.text2{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 65px;
}
.text3{
font-size: 15px;
font-family: 'Universbold';
color: #1F3E63;
margin-left: 40px;
}



.footerwrapper{
 
width: 100%;
    background:white;

}
.footer{
     position: relative;   
    margin-top: 500px;
  height: 100px;
    width: 1280px;
    background:blue;
    padding-left: 50px;
z-index: 30
}

.names{
background: pink;
}