
/*@font-face { 
  font-family: appFont;
  src: url('file:fonts/UniversLTStd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

#topImage
{	
	width: 349px;
	height: 50px;
}

#bottomImage
{			
	width: 373.5px;
	height: 45.5px;
}

#recordBtn
{
	width: 30px;
	height: 30px;
	margin-left: 90%;
	margin-top: -11%;
	background-color: transparent;
	border-color: transparent;
}

#screenshotBtn
{
	width: 39px;
	height: 39px;
	margin-left: 20%;
	margin-top: -11.5%;
	background-color: transparent;
	border-color: transparent;
	background-image: url(../img/camera_icon.png);
}


#noteBtn
{
	width: 39px;
	height: 39px;
	margin-left: 35%;
	margin-top: -11.5%;
	background-color: transparent;
	border-color: transparent;
	background-image: url(../img/note_icon.png);
}

#recordsList
{
	background-color: #666464;
	padding:0;
    margin:0; 
}


.recordItem
{
	list-style-type: none;

	background-image: url(../img/recordItem.png);

	width: 380px;
	height: 86px; 

	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: white;
}

.recordCapture
{
	width: 133px;
	height: 85px;
	margin-top: 0;
	margin-left: 0;
}

.commandsTimeline
{
	width: 65;
	height: 65;
	margin-top: -78;
	margin-left: 30;
	position: absolute;
	z-index: 9999999;
	background-color: transparent;
	border-color: transparent;
	opacity: 0;
}

.guideName
{
	display: inline-block;
	position: absolute;
	margin-top: 3px;
	margin-left: 8px;
	color: #F37D76;
	font-size: 26;
	font-family: appFont;
}

.guideTime
{
	display: inline-block;
	position: absolute;
	margin-top: 65px;
	margin-left: 10px;
	font-size: 16;
	color: #929497;
	font-family: appFont;
}

.playBtn
{
	width: 21px;
	height: 21px;
	z-index: 3;
	position: absolute;
	margin-top: 1.5%;
	margin-left: 80%;
	background-color: transparent;
	border-color: transparent;
}

.shareBtn
{
	width: 33px;
	height: 29px;
	margin-left: 54%;
	margin-top: 14.5%;
	position: absolute;
	background-color: transparent;
	border-color: transparent;
	background-image: url(../img/share1.png);
}

.editBtn
{
	width: 33px;
	height: 29px;
	margin-left: 54%;
	margin-top: 7%;
	position: absolute;
	background-color: transparent;
	border-color: transparent;
	background-image: url(../img/edit1.png);
}

.deleteBtn
{
	width: 33px;
	height: 29px;
	position: absolute;
	margin-left: 54%;
	margin-top: 0%;
	background-color: red;
	border-color: transparent;
	background-image: url(../img/delete1.png);
}

button
{
	cursor: pointer;
}

